<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
        <Appenders>
            <Console name="console" target="SYSTEM_OUT">
                <PatternLayout
                        pattern="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
            </Console>

            <SplunkHttp
                    name="splunkhttp"
                    url="http://localhost:8088"
                    token="5547f916-1166-4970-8837-b77d3f95ac3d"
                    index="ecommer_index"
                    messageFormat="text"
                    disableCertificateValidation="true">
                <PatternLayout pattern="%m" />
            </SplunkHttp>
    </Appenders>

    <Loggers>
        <Logger name="com.example.demo" additivity="false" level="info">
            <AppenderRef ref="console"/>
            <AppenderRef ref="splunkhttp"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="splunkhttp"/>
        </Root>
    </Loggers>
</Configuration>